.section-details-header {
    min-height: 310px;
    background-color: #041B50;
    margin-top: -76px;
}

.section-details-content {
    margin-top: -180px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 40px;
    }
    
    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: white;
        }
    }

    .card-details {
        padding: 30px;
        border-radius: 10px;

        h1.conservation-name {
            font-size: 26px;
            font-weight: bold;
        }
        p.conservation-location {
            font-size: 20px;
            font-weight: normal;
        }
        h2.about-conservation-text {
            font-size: 20px;
            font-weight: bold;
        }
        p.about-conservation {
            font-size: 20px;
            font-weight: lighter;
        }

        .entrance-fee {
            h3 {
                font-size: 18px;
                font-weight: 700;
            }
        }

        .features {
            margin-top: 30px;

            h3 {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 0;
            }
            p {
                font-size: 14px;
                font-weight: normal;
            }
            .maps {
                font-size: 14px;
                font-weight: normal;
            }

            .description {
                margin-left: 10px;
                overflow: hidden;
                float: left;
            }

            .features-image {
                float: left;
                width: 50px;
                height: 50px;
            }
        }

        .gallery {
            .xzoom-container {
                display: block;
    
                .xzoom {
                    width: 100%;
                    box-shadow: none;
                    margin-bottom: 10px;
                }
    
                .xactive {
                    border: 4px solid #FF9E53;
                    box-shadow: none;
                }
            }
        }
    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        h2 {
            font-size: 20px;
            font-weight: 700;
        }
        .conservation-checkout {
            th {
                font-size: 18px;
                font-weight: 600;
            }
            td {
                font-size: 16px;
                font-weight: normal;
                color: #B1B1B1;
            }
        }
    }
    .join-container {
        margin-top: -18px;
    }
    .btn-join-now {
        background-color: #FF9E53;
        color: white;
        font-size: 20px;
        font-weight: 600;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    
        &:hover {
            background-color: #FFAA69;
            color: white;
            font-size: 20px;
            font-weight: 600;
        }
    }
}
.section-events {
    margin-top: 30px;
    .card-events {
        h2 {
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 20px;
        }
        padding: 20px;
        border-radius: 10px;
    }
    .section-event-conservation {
        .card-conservation-event {
            border-radius: 10px;
            margin-bottom: 10px;
            .conservation-event-title {
                h5 {
                    font-size: 16px;
                    font-weight: 700;
                    padding-left: 10px;
                    padding-top: 10px;
                    padding-bottom: 5px;
                }
            }
            .conservation-event-date {
                font-size: 12px;
                font-weight: normal;
                padding-left: 10px;
                padding-bottom: 5px;
            }
            .conservation-event-location {
                font-size: 12px;
                font-weight: normal;
                padding-left: 10px;
                padding-bottom: 5px;
            }
            .conservation-event-detail {
                .btn-event-detail {
                    background-color: #FF9E53;
                    color: white;
                    font-size: 20px;
                    font-weight: 600;
                    border-radius: 10px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;

                    &:hover {
                        background-color: #FFAA69;
                        color: white;
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}