.dashboard-content {
    .card {
        background-color: #FEFEFE;
        box-shadow: 8px 4px 15px #F1F1F8;
        border-radius: 8px;
        text-decoration: none;

        .dashboard-card-title {
            font-size: 18px;
            font-weight: 300;
        }
        .dashboard-card-subtitle{
            font-size: 32px;
            font-weight: 600;
        }
    }

    .card-conservation {
        background-color: #FEFEFE;
        padding: 20px;
        border-radius: 8px;

        .foto-kawasan {
            max-width: 60px;
        }

        .btn-add-data {
            background-color: #FF9E53;
            color: #FFF;
            font-size: 18px;
            font-weight: 600;
            border-radius: 6px;
        }
    }

    .card-detail-transaction {
        .header-transaction {
            max-width: 240px;
            border-radius: 8px;
        }

        .transaction-title {
            font-size: 18px;
            font-weight: 600;
        }

        .transaction-subtitle {
            font-size: 16px;
            font-weight: normal;
            color: #B1B1B1;
            margin-top: 8px;
        }

        .data-pengunjung {
            margin-top: 24px;
            h5 {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .photo-identitas {
            img {
                max-width: 120px;
            }
        }

        .data-bawaan-pengunjung {
            margin-top: 0;
            h5 {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .data-surat-penelitian-pendidikan {
            margin-top: 0;
            h5 {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .data-pemilik-rekening {
            margin-top: 0;
            padding-left: 20px;
            padding-right: 20px;
            h5 {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
            }
            margin-bottom: 24px;
        }

        .data-bukti-transfer {
            margin-top: 0;
            h5 {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .data-approval {
            margin-top: 0;
            padding-left: 20px;
            padding-right: 20px;
            h5 {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
            }
        }

        .btn-primary {
            font-weight: 600;
            color: #fff;
            background-color: #FF9E53;
        }
    }

    .btn-sim-kawasan {
        background-color: #FF9E53;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        &:hover {
            background-color: #FFAA69;
            color: white;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .btn-close {
        background-color: #FF9E53;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        float: right;
        &:hover {
            background-color: #FFAA69;
            color: white;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .input-transaction-code {
        input {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .input-group-append {
            button {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
    }

    .btn-search {
        background-color: #FF9E53;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        float: right;
        &:hover {
            background-color: #FFAA69;
            color: white;
            font-size: 14px;
            font-weight: 600;
        }
    }
}