.dashboard-content {
    .card {
        background-color: #FEFEFE;
        box-shadow: 8px 4px 15px #F1F1F8;
        border-radius: 8px;
        text-decoration: none;

        .dashboard-card-title {
            font-size: 18px;
            font-weight: 300;
        }
        .dashboard-card-subtitle{
            font-size: 32px;
            font-weight: 600;
        }
    }

    .card-conservation {
        background-color: #FEFEFE;
        padding: 20px;
        border-radius: 8px;

        .btn-add-data {
            background-color: #FF9E53;
            color: #FFF;
            font-size: 18px;
            font-weight: 700;
            border-radius: 6px;
        }
    }
}