// ========================== Navigasi ==========================
.navbar-border {
    border: 1px solid #E4E6EB;
}

// Logo Salam Konservasi
.navbar-brand {   
    img {
        max-height: 50px;
    }
}

// Menu Website
.navbar-conservation {
    .navbar-nav {
        .nav-link {
            color: #051334;

            // class nav-link active
            &.active {
                font-weight: bold;
                color: #051334 !important;
            }
        }
    }

    .profile-picture {
        max-height: 44px;
    }

    .notification {
        display: inline-block;
        min-width: 2em;
        padding: 0.3em;
        border-radius: 50%;
        font-size: 10px;
        text-align: center;
        background-color: #FF9E53;
        color: #fff;
        margin-left: -11px;
    }
}

// Button Masuk 
button.btn-login {
    background-color: #051334;
    color: #fff;
    font-size: 20px;
    font-weight: bold;

    &:hover {
        background-color: #1E3771;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }
}
.btn-navbar-right {
    margin-top: -14px !important;
    margin-bottom: -14px !important;
    margin-right: -14px !important;

    height: 70px;
    border-radius: 0;
}