.navbar-conservation-dashboard {
    padding-top: 15px;

    @include media-breakpoint-down(md) {
        background-color: #fff !important;
    }

    .navbar-nav {
        .nav-link {
            @include media-breakpoint-up(lg) {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        .profile-picture {
            max-height: 45px;
        }
        .notification {
            display: inline-block;
            min-width: 2em;
            padding: 0.3em;
            border-radius: 50%;
            font-size: 10px;
            text-align: center;
            background-color: #FF9E53;
            color: #fff;
            margin-left: -11px;
        }

        .notification-content {
            .dropdown-menu {
                width: 250px;
                p {
                    font-size: 14px;
                }

                .card {
                    a {
                        text-decoration: none;
                    }
                    margin-top: 8px;
                    margin-bottom: 8px;
                }
            }
        }
    }
}