body {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  color: #051334;
}

.section-stats {
  margin-top: -50px !important;
}

.section-stats .stats-detail {
  padding-top: 15px;
  text-align: center;
  background-color: #FFFFFF;
}

.section-stats h2 {
  font-size: 30px;
  font-weight: bold;
}

.section-stats p {
  font-size: 20px;
  font-weight: 200px;
}

.section-conservation {
  min-height: 540px;
  background-color: #051334;
  margin-top: -60px;
  margin-bottom: -200px;
}

.section-conservation .section-conservation-heading {
  margin-top: 155px;
  color: white;
}

.section-conservation .section-conservation-heading h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 8px;
}

.section-conservation .section-conservation-heading p {
  font-size: 18px;
  font-weight: normal;
}

.section-conservation-content .section-conservation-area .card-conservation {
  min-height: 380px;
  color: #fff;
  padding: 18px;
  background-size: cover;
  margin-bottom: 30px;
}

.section-conservation-content .section-conservation-area .card-conservation .conservation-location {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 4px;
}

.section-conservation-content .section-conservation-area .card-conservation .conservation-name {
  font-size: 23px;
  font-weight: 600;
}

.section-conservation-content .section-conservation-area .card-conservation .conservation-button {
  background-color: #FF9E53;
  border-radius: 8px;
}

.section-conservation-content .section-conservation-area .card-conservation .conservation-button a {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.section-conservation-content .section-conservation-area .card-conservation .conservation-button:hover {
  background-color: #FFAA69;
  border-radius: 8px;
}

.section-conservation-content .section-conservation-area .all-conservation {
  min-height: 380px;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 30px;
}

.section-conservation-content .section-conservation-area .all-conservation .conservation-all {
  font-size: 23px;
  font-weight: 600;
  margin-top: 158px;
}

.section-conservation-content .section-conservation-area .all-conservation .conservation-all a {
  color: white;
}

.section-events .section-events-heading {
  margin-top: 100px;
  color: #051334;
}

.section-events .section-events-heading h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 8px;
}

.section-events .section-events-heading p {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 70px;
}

.section-events-content .section-conservation-events .card-events {
  min-height: 380px;
  color: #fff;
  padding: 18px;
  background-size: cover;
  margin-bottom: 30px;
}

.section-events-content .section-conservation-events .card-events .events-name {
  font-size: 23px;
  font-weight: 600;
}

.section-events-content .section-conservation-events .card-events .events-location .events-date {
  font-size: 20px;
  font-weight: normal;
}

.section-events-content .section-conservation-events .card-events .events-button {
  background-color: #FF9E53;
  border-radius: 8px;
}

.section-events-content .section-conservation-events .card-events .events-button a.btn-events-details {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.section-events-content .section-conservation-events .card-events .events-button:hover {
  background-color: #FFAA69;
  border-radius: 8px;
}

.section-events-content .section-conservation-events .all-events {
  min-height: 380px;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 30px;
}

.section-events-content .section-conservation-events .all-events .events-all {
  font-size: 23px;
  font-weight: 600;
  margin-top: 158px;
}

.section-events-content .section-conservation-events .all-events .events-all a {
  color: white;
}

.section-news .section-news-heading {
  margin-top: 100px;
  color: #051334;
}

.section-news .section-news-heading h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 8px;
}

.section-news .section-news-heading p {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 70px;
}

.section-news-content .section-conservation-news .card-news {
  min-height: 380px;
  background-color: #041B50;
  color: #fff;
  margin-bottom: 30px;
}

.section-news-content .section-conservation-news .card-news .card-body .news-name {
  font-size: 20px;
  font-weight: bold;
}

.section-news-content .section-conservation-news .card-news .card-body .news-name .news-link {
  color: #fff;
}

.section-news-content .section-conservation-news .card-news .card-body .news-content {
  font-size: 12px;
  font-weight: normal;
}

.section-news-content .section-conservation-news .all-news {
  min-height: 380px;
  color: #fff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 30px;
}

.section-news-content .section-conservation-news .all-news .events-all {
  font-size: 23px;
  font-weight: 600;
  margin-top: 158px;
}

.section-news-content .section-conservation-news .all-news .events-all a {
  color: white;
}

.section-tutorial .section-tutorial-heading {
  margin-top: 100px;
  color: #051334;
}

.section-tutorial .section-tutorial-heading h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 8px;
}

.section-tutorial .section-tutorial-heading p {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 70px;
}

.section-report .section-report-heading {
  margin-top: 100px;
  color: #051334;
}

.section-report .section-report-heading h2 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 8px;
}

.section-report .section-report-heading p {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 70px;
}

.section-report-content .section-report-system .card-report {
  padding: 30px;
  border-radius: 20px solid #E3E3E3;
}

.section-report-content .section-report-system .card-report .report {
  font-size: 20px;
  font-weight: 400;
}

.section-report-content .section-report-system .card-report .btn-send-report {
  background-color: #FF9E53;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.section-report-content .section-report-system .card-report .btn-send-report:hover {
  background-color: #FFAA69;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.section-details-header {
  min-height: 310px;
  background-color: #041B50;
  margin-top: -76px;
}

.section-details-content {
  margin-top: -180px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 40px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: white;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 10px;
}

.section-details-content .card-details h1.conservation-name {
  font-size: 26px;
  font-weight: bold;
}

.section-details-content .card-details p.conservation-location {
  font-size: 20px;
  font-weight: normal;
}

.section-details-content .card-details h2.about-conservation-text {
  font-size: 20px;
  font-weight: bold;
}

.section-details-content .card-details p.about-conservation {
  font-size: 20px;
  font-weight: lighter;
}

.section-details-content .card-details .entrance-fee h3 {
  font-size: 18px;
  font-weight: 700;
}

.section-details-content .card-details .features {
  margin-top: 30px;
}

.section-details-content .card-details .features h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.section-details-content .card-details .features p {
  font-size: 14px;
  font-weight: normal;
}

.section-details-content .card-details .features .maps {
  font-size: 14px;
  font-weight: normal;
}

.section-details-content .card-details .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .card-details .features .features-image {
  float: left;
  width: 50px;
  height: 50px;
}

.section-details-content .card-details .gallery .xzoom-container {
  display: block;
}

.section-details-content .card-details .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.section-details-content .card-details .gallery .xzoom-container .xactive {
  border: 4px solid #FF9E53;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.section-details-content .card-right h2 {
  font-size: 20px;
  font-weight: 700;
}

.section-details-content .card-right .conservation-checkout th {
  font-size: 18px;
  font-weight: 600;
}

.section-details-content .card-right .conservation-checkout td {
  font-size: 16px;
  font-weight: normal;
  color: #B1B1B1;
}

.section-details-content .join-container {
  margin-top: -18px;
}

.section-details-content .btn-join-now {
  background-color: #FF9E53;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section-details-content .btn-join-now:hover {
  background-color: #FFAA69;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.section-events {
  margin-top: 30px;
}

.section-events .card-events {
  padding: 20px;
  border-radius: 10px;
}

.section-events .card-events h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section-events .section-event-conservation .card-conservation-event {
  border-radius: 10px;
  margin-bottom: 10px;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-title h5 {
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-date {
  font-size: 12px;
  font-weight: normal;
  padding-left: 10px;
  padding-bottom: 5px;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-location {
  font-size: 12px;
  font-weight: normal;
  padding-left: 10px;
  padding-bottom: 5px;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-detail .btn-event-detail {
  background-color: #FF9E53;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-detail .btn-event-detail:hover {
  background-color: #FFAA69;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.section-details-header {
  min-height: 310px;
  background-color: #041B50;
  margin-top: -76px;
}

.section-details-content {
  margin-top: -180px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 40px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: white;
}

.section-details-content .card-details {
  padding: 25px;
  border-radius: 10px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
  font-weight: bold;
}

.section-details-content .card-details p {
  font-size: 20px;
  font-weight: normal;
}

.section-details-content .card-details .date .inputDate {
  font-size: 20px;
  font-weight: 700;
}

.section-details-content .card-details .date .datepicker {
  width: 240px;
}

.section-details-content .card-details .date .datepicker1 {
  width: 240px;
}

.section-details-content .card-details .date .gj-datepicker .datepicker {
  border-right: 0;
}

.section-details-content .card-details .date .gj-datepicker .datepicker1 {
  border-right: 0;
}

.section-details-content .card-details .date .gj-datepicker .input-group-append .btn {
  padding-right: 30px;
}

.section-details-content .card-details .date .btn-submits {
  margin-left: 30px;
  background-color: #041B50;
  color: #fff;
  size: 20px;
  font-weight: 500;
}

.section-details-content .card-details .attendee h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-details-content .card-details .attendee thead {
  font-size: 20px;
  font-weight: normal;
}

.section-details-content .card-details .member h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-details-content .card-details .member .input-name {
  width: 155px;
}

.section-details-content .card-details .member .input-nationality {
  width: 160px;
}

.section-details-content .card-details .member .input-alamat {
  width: 350px;
}

.section-details-content .card-details .member .input-telpon {
  width: 231px;
}

.section-details-content .card-details .member .custom-file {
  width: 320px;
}

.section-details-content .card-details .member .btn-add-member {
  margin-left: 20px;
  background-color: #041B50;
  color: #fff;
  size: 20px;
  font-weight: 500;
}

.section-details-content .card-details .tools h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.section-details-content .card-details .add-tools h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 20px;
}

.section-details-content .card-details .add-tools .input-alat-selam {
  width: 223px;
}

.section-details-content .card-details .add-tools .input-alat-seluncur {
  width: 223px;
}

.section-details-content .card-details .add-tools .input-kamera {
  width: 223px;
}

.section-details-content .card-details .add-tools .input-jetski {
  width: 240px;
}

.section-details-content .card-details .add-tools .input-kapal {
  width: 240px;
}

.section-details-content .card-details .add-tools .btn-add-tools {
  margin-left: 20px;
  background-color: #041B50;
  color: #fff;
  size: 20px;
  font-weight: 500;
}

.section-details-content .card-details .note-tools {
  background-color: #F8F8F8;
  padding: 10px;
  margin-top: 16px;
  max-width: 525px;
}

.section-details-content .card-details .note-tools h3 {
  font-size: 14px;
  font-weight: 700;
}

.section-details-content .card-details .note-tools p {
  font-size: 14px;
}

.section-details-content .card-details .upload-research-education {
  margin-top: 10px;
}

.section-details-content .card-details .upload-research-education h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.section-details-content .card-details .note-research {
  background-color: #F8F8F8;
  padding: 10px;
  margin-top: 16px;
  max-width: 525px;
}

.section-details-content .card-details .note-research h3 {
  font-size: 14px;
  font-weight: 700;
}

.section-details-content .card-details .note-research p {
  font-size: 14px;
}

.section-details-content .card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.section-details-content .card-right h2 {
  font-size: 20px;
  font-weight: 700;
}

.section-details-content .card-right .conservation-checkout tr {
  margin-bottom: 10px;
}

.section-details-content .card-right .conservation-checkout th {
  font-size: 18px;
  font-weight: 600;
}

.section-details-content .card-right .conservation-checkout td {
  font-size: 16px;
  font-weight: normal;
  color: #B1B1B1;
}

.section-details-content .card-right .conservation-checkout td.total-price {
  font-weight: 600;
  color: #041B50;
}

.section-details-content .join-container {
  margin-top: -18px;
}

.section-details-content .btn-join-now {
  background-color: #FF9E53;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section-details-content .btn-join-now:hover {
  background-color: #FFAA69;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.section-conservation-text {
  margin-top: 24px;
  margin-bottom: 40px;
}

.section-conservation-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-weight: bold;
}

.section-conservation-text p {
  font-size: 16px;
  color: #051334;
  font-weight: 300;
}

.section-conservation-area-list .section-conservation-area .card {
  border-radius: 10px;
}

.section-conservation-area-list .section-conservation-area .card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section-conservation-area-list .section-conservation-area .card .card-title {
  font-size: 20px;
  font-weight: 600;
}

.section-conservation-area-list .section-conservation-area .card .card-location {
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #B1B1B1;
  font-weight: normal;
}

.section-conservation-area-list .section-conservation-area .card .card-text {
  font-size: 18px;
  color: #B1B1B1;
  font-weight: normal;
}

.section-conservation-area-list .section-conservation-area .card .btn-detail-conservation {
  float: right;
  background-color: #FF9E53;
  color: #fff;
  font-weight: 600;
}

.section-conservation-news {
  margin-top: 24px;
  margin-bottom: 40px;
}

.section-conservation-news h1 {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-weight: bold;
}

.section-conservation-news p {
  font-size: 16px;
  color: #051334;
  font-weight: 300;
}

.section-conservation-news-list .section-conservation-area-news-new .card {
  padding: 0px;
  border-radius: 10px;
}

.section-conservation-news-list .section-conservation-area-news-new .card .header-image {
  max-width: 508px;
  border-radius: 10px;
}

.section-conservation-news-list .section-conservation-area-news-new .card .card-body h5.card-title {
  font-size: 28px;
  font-weight: 700;
}

.section-conservation-news-list .section-conservation-area-news-new .card .card-body h5.card-title a {
  color: #041B50;
}

.section-conservation-news-list .section-conservation-area-news-new .card .card-body .card-date {
  font-size: 18px;
  color: #B1B1B1;
}

.section-conservation-news-list .section-conservation-area-news-new .card .card-body .card-text-news {
  font-size: 16px;
  color: #B1B1B1;
}

.section-conservation-news-list .section-conservation-area-news .card {
  border-radius: 10px;
}

.section-conservation-news-list .section-conservation-area-news .card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section-conservation-news-list .section-conservation-area-news .card .card-title {
  font-size: 20px;
  font-weight: 600;
}

.section-conservation-news-list .section-conservation-area-news .card .card-title a {
  color: #051334;
}

.section-conservation-news-list .section-conservation-area-news .card .card-post {
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #B1B1B1;
  font-weight: normal;
}

.section-conservation-news-list .section-conservation-area-news .card .card-text {
  font-size: 14px;
  color: #B1B1B1;
  font-weight: normal;
}

.section-details-news-header {
  min-height: 310px;
  background-color: #041B50;
  margin-top: -76px;
}

.section-details-news-content {
  margin-top: -180px;
  min-height: 100vh;
}

.section-details-news-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 40px;
}

.section-details-news-content .breadcrumb-item.active {
  font-weight: bold;
  color: white;
}

.section-details-news-content .card.card-details {
  padding: 10px;
  border-radius: 10px;
}

.section-details-news-content .card.card-details .img-detail-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 16px;
}

.section-details-news-content .card.card-details h1.conservation-news-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: px;
}

.section-details-news-content .card.card-details p.conservation-news-date {
  font-size: 16px;
  font-weight: normal;
}

.section-details-news-content .card.card-details p.conservation-news-author {
  font-size: 16px;
  font-weight: normal;
}

.section-details-news-content .card.card-details p.about-news {
  font-size: 20px;
  font-weight: lighter;
}

.section-details-news-content .card-more-news h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.section-details-news-content .card-more-news .card.card-news {
  border-radius: 10px;
}

.section-details-news-content .card-more-news .card.card-news .img-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.section-details-news-content .card-more-news .card.card-news .card-body h5 {
  font-size: 18px;
  font-weight: 600;
}

.section-details-news-content .card-more-news .card.card-news .card-body h5 a {
  color: #041B50;
}

.section-details-news-content .card-more-news .card.card-news .card-body p {
  font-size: 16px;
}

.section-events {
  margin-top: 30px;
}

.section-events .card-events {
  padding: 20px;
  border-radius: 10px;
}

.section-events .card-events h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section-events .section-event-conservation .card-conservation-event {
  border-radius: 10px;
  margin-bottom: 10px;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-title h5 {
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-date {
  font-size: 12px;
  font-weight: normal;
  padding-left: 10px;
  padding-bottom: 5px;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-location {
  font-size: 12px;
  font-weight: normal;
  padding-left: 10px;
  padding-bottom: 5px;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-detail .btn-event-detail {
  background-color: #FF9E53;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-detail .btn-event-detail:hover {
  background-color: #FFAA69;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.section-conservation-events {
  margin-top: 24px;
  margin-bottom: 40px;
}

.section-conservation-events h1 {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  font-weight: bold;
}

.section-conservation-events p {
  font-size: 16px;
  color: #051334;
  font-weight: 300;
}

.section-conservation-events-list .section-conservation-area-events-new .card {
  padding: 0px;
  border-radius: 10px;
}

.section-conservation-events-list .section-conservation-area-events-new .card .header-image {
  max-width: 508px;
  border-radius: 10px;
}

.section-conservation-events-list .section-conservation-area-events-new .card .card-body h5.card-title {
  font-size: 28px;
  font-weight: 700;
}

.section-conservation-events-list .section-conservation-area-events-new .card .card-body h5.card-title a {
  color: #041B50;
}

.section-conservation-events-list .section-conservation-area-events-new .card .card-body .card-date {
  font-size: 18px;
  color: #B1B1B1;
  margin: 0;
}

.section-conservation-events-list .section-conservation-area-events-new .card .card-body .card-location-events {
  font-size: 18px;
  color: #B1B1B1;
  margin: 0;
  margin-bottom: 16px;
}

.section-conservation-events-list .section-conservation-area-events-new .card .card-body .card-text-events {
  font-size: 16px;
  color: #B1B1B1;
}

.section-conservation-events-list .section-conservation-area-events .card {
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.section-conservation-events-list .section-conservation-area-events .card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.section-conservation-events-list .section-conservation-area-events .card .card-body .card-title {
  font-size: 20px;
  font-weight: 600;
}

.section-conservation-events-list .section-conservation-area-events .card .card-body .card-title a {
  color: #051334;
}

.section-conservation-events-list .section-conservation-area-events .card .card-body .card-post {
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #B1B1B1;
  font-weight: normal;
}

.section-conservation-events-list .section-conservation-area-events .card .card-body .card-location {
  font-size: 14px;
  color: #B1B1B1;
  font-weight: normal;
}

.section-conservation-events-list .section-conservation-area-events .see-events {
  margin-top: -20px;
}

.section-conservation-events-list .section-conservation-area-events .btn-detail-events {
  background-color: #FF9E53;
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section-conservation-events-list .section-conservation-area-events .btn-detail-events:hover {
  background-color: #FFAA69;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.section-details-events-header {
  min-height: 310px;
  background-color: #041B50;
  margin-top: -76px;
}

.section-details-events-content {
  margin-top: -180px;
  min-height: 100vh;
}

.section-details-events-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 40px;
}

.section-details-events-content .breadcrumb-item.active {
  font-weight: bold;
  color: white;
}

.section-details-events-content .card.card-details {
  padding: 10px;
  border-radius: 10px;
}

.section-details-events-content .card.card-details .img-detail-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 16px;
}

.section-details-events-content .card.card-details .conservation-events-name {
  font-size: 30px;
  font-weight: 600;
}

.section-details-events-content .card.card-details .features-events {
  margin-top: 24px;
}

.section-details-events-content .card.card-details .features-events h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}

.section-details-events-content .card.card-details .features-events p {
  font-size: 14px;
  font-weight: normal;
}

.section-details-events-content .card.card-details .features-events .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-events-content .card.card-details .features-events .features-image-events {
  float: left;
  width: 50px;
  height: 50px;
}

.section-details-events-content .card.card-details p.about-events {
  margin-top: 16px;
  font-size: 20px;
  font-weight: lighter;
}

.section-details-events-content .card-more-events h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.section-details-events-content .card-more-events .card.card-events {
  border-radius: 10px;
}

.section-details-events-content .card-more-events .card.card-events .img-header {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.section-details-events-content .card-more-events .card.card-events .card-body h5 {
  font-size: 18px;
  font-weight: 600;
}

.section-details-events-content .card-more-events .card.card-events .card-body h5 a {
  color: #041B50;
}

.section-details-events-content .card-more-events .card.card-events .card-body p {
  font-size: 16px;
}

.section-events {
  margin-top: 30px;
}

.section-events .card-events {
  padding: 20px;
  border-radius: 10px;
}

.section-events .card-events h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.section-events .section-event-conservation .card-conservation-event {
  border-radius: 10px;
  margin-bottom: 10px;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-title h5 {
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-date {
  font-size: 12px;
  font-weight: normal;
  padding-left: 10px;
  padding-bottom: 5px;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-location {
  font-size: 12px;
  font-weight: normal;
  padding-left: 10px;
  padding-bottom: 5px;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-detail .btn-event-detail {
  background-color: #FF9E53;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.section-events .section-event-conservation .card-conservation-event .conservation-event-detail .btn-event-detail:hover {
  background-color: #FFAA69;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

div.section-success {
  height: 90vh;
}

div.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #041B50;
}

div.section-success p {
  font-weight: 300;
  font-size: 20px;
  color: #B1B1B1;
}

div.section-success .btn-home-page {
  border-radius: 8px;
  background-color: #041B50;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

div.section-success .btn-dashboard {
  border-radius: 8px;
  background-color: #FF9E53;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.page-auth .row-login {
  min-height: 70vh;
}

.page-auth .section-conservation-auth h2 {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.page-auth .section-conservation-auth .form-control {
  border-radius: 8px;
  border: 2px solid #E4E6EB;
}

.page-auth .section-conservation-auth .btn-login {
  border-radius: 8px;
  background-color: #041B50;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.page-auth .section-conservation-auth div.btn-register a {
  border-radius: 8px;
  background-color: #FF9E53;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

.page-auth .section-conservation-auth div.btn-register a:hover {
  background-color: #FFAA69;
}

.navbar-border {
  border: 1px solid #E4E6EB;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: #051334;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #051334 !important;
}

button.btn-login {
  background-color: #051334;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

button.btn-login:hover {
  background-color: #1E3771;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.btn-navbar-right {
  margin-top: -14px !important;
  margin-bottom: -14px !important;
  margin-right: -14px !important;
  height: 70px;
  border-radius: 0;
}

header {
  padding: 186px 0 111px;
  margin-top: -77px;
  background-image: url("../images/header-web.png");
  background-size: cover;
}

header h1, header p {
  color: #fff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  font-weight: bold;
}

header p {
  font-family: 'Assistant', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin-top: 24px;
}

header .btn-get-started {
  background-color: #FF9E53;
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-top: 50px;
}

header .btn-get-started:hover {
  background-color: #FFAA69;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.section-footer .logoFooter {
  max-width: 250px;
  margin-bottom: 20px;
}

.section-footer h5 {
  font-size: 26px;
  font-weight: bold;
}

.section-footer a {
  color: #051334;
  font-size: 18px;
  font-weight: normal;
}

.section-footer .socmed-icon {
  max-width: 32px;
  margin-right: 8px;
}
/*# sourceMappingURL=main.css.map */